.body {
    background-color: var(--color-bg-main);
    height: 100%;
    width: 100%;

    background-image: url('../../assets/pattern0.png'); 
    background-size: 15cm 8.44cm; 
    background-repeat: repeat;
}