/* Text Styles */
:root{
  --text-title: 35px;
  --text-h1: 35px;
  --text-h2: 25px;
  --text-h3: 20px;
  --text-base: 18px;
  --text-small: 15px;
}

/* Morning Mode */
html.light {
  --color-primary: rgba(56, 26, 1);
  --color-secondary: rgba(255, 239, 204);
  --color-bg-main: rgb(255, 239, 204);
  --color-bg-secondary: rgb(73, 34, 2);
  --color-accent: rgb(255, 102, 0);
}

/* Night Mode */
:root,
html.dark {
  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgba(50, 37, 97);
  --color-bg-main: rgb(32, 35, 49);
  --color-bg-secondary: rgb(221, 214, 255);
  --color-accent: rgb(141, 92, 255);
}

